@charset "utf-8";
/* CSS Document */
.white-bg {
	background: #fff !important;
}
.main-content {
	padding: 85px 0 0 0;
}
.banner {
	background: url(../img/banner/home.jpg) no-repeat center center;
	background-size: cover;
	margin: 0 0 0 0;
	min-height: 474px;
	position: relative;
}
.bcontent {
	max-width: 540px;
}
.bcontent h1 {
	font-size: 70px;
	color: #c21723;
	line-height: 75px;
	margin: 0;
	padding: 0 0 20px 0;
}
.bcontent h1 span {
	font-size: 84px;
	font-weight: 600;
}
.link-btn {
	max-width: 400px;
	min-height: 60px;
	padding: 0 15px;
	background: #440197;
	border-radius: 5px;
	box-shadow: 5px 5px 10px #44019726;
	font-size: 18px;
	justify-content: center;
	color: #fff !important;
	display: flex;
	align-items: center;
	transition: 0.3s;
	margin: 0 0 7px 0;
}
.link-btn:hover, .link-btn:visited {
	background: #40018e;
	color: #fff;
}
.bcontent small {
	max-width: 340px;
	font-size: 14px;
	text-align: left;
	color: #202020;
	display: block;
}
.bcontent a {
	color: #202020;
}
.hbanner_img {
	position: absolute;
	left: 45%;
	bottom: 0;
}
.bdiscalimer {
	font-size: 12px;
	font-weight: 300;
	color: #202020;
	position: absolute;
	right: 0;
	bottom: 10px;
	max-width: 1140px;
	margin: auto;
	left: 0;
	text-align: right;
}
.offer {
	background: url(../img/bg/offer.png) no-repeat center center;
	background-size: cover;
	margin: 0 0 0 0;
	font-size: 28px;
	color: #fff;
}
.offers ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.offers li {
	padding: 1.5% 5%;
}
.offers li:last-child {
	border-left: 1px solid #fff;
}
.offers li span {
	font-size: 52px;
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}
.offers li span font {
	font-family: Arial, Helvetica, sans-serif;
}
.productsec {
	padding: 3% 0;
	font-size: 18px;
	color: #303030;
	line-height: 30px;
	text-align: center;
	background: #fff;
}
.subhead {
	font-size: 40px;
	font-weight: 600;
	color: #303030;
	letter-spacing: 0.4px;
	padding: 0 0 15px 0;
}
.products ul {
	flex-wrap: wrap;
	padding: 0 0 10px 0;
}
.products li {
	background: #fff;
	box-shadow: 0 0 20px rgba(0,0,0,.1);
	border-radius: 15px;
	flex: 0 0 31%;
	margin: 1% 1%;
	padding: 3% 2%;
	font-size: 16px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 1px;
}
.products li h3 {
	font-size: 20px;
	font-weight: 600;
	margin: 0;
	padding: 15px 0;
	color: #303030;
}
.products li p {
	margin: 0;
}
.products li .readmore {
	margin: 7px 0 0 0;
	display: inline-block;
}
.sadvantages ul {
	letter-spacing: .5px;
}
.sadvantages li {
	text-align: left;
	display: flex;
	line-height: 28px;
	padding: 22px 0;
}
.sadvantages li img {
	align-self: flex-start;
	margin: 5px 0 0 0;
}
.sadvantages li span {
	padding: 0 0 0 20px;
}
.sadvantages li strong {
	display: block;
	font-size: 20px;
	font-weight: 600;
	padding: 0 0 5px 0;
}
.btn-block {
	background: #c10d14;
	border-radius: 10px;
	padding: 2% 3%;
	font-size: 32px;
	font-weight: 600;
	color: #fff;
	line-height: 46px;
	text-align: left;
	margin: 35px 0 40px 0;
	display:none !important;
}
.btn-block p {
	max-width: 60%;
}
.btn-block a {
	width: 309px;
	background: #fff !important;
	font-weight: 600;
	color: #440197 !important;
}
.blogs-posts {
	margin: 10px 0;
	text-align: left;
}
.blogp {
	border: 1px solid #d5d5d5;
	border-radius: 15px;
	max-width: 527px;
	overflow: hidden;
}
.blogp:last-child {
	margin-left: auto;
}
.blogp img {
	max-width: 100%;
	width: 100%;
}
.bpostcont {
	padding: 25px 15px 15px 20px;
	font-size: 16px;
	line-height: 28px;
}
.heading4 {
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 0.3px;
	color: #303030;
	position: relative;
	padding: 0 0 20px 0;
	margin: 0 0 15px 0;
}
.heading4::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	width: 32px;
	height: 3px;
	background: #c30f16;
}
.bpostcont .heading4 {
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.readmore {
	text-transform: uppercase;
	font-weight: bold;
	color: #bf0b12;
	background: url(../img/icons/rhtarrow.png) no-repeat right center;
	padding: 0 20px 0 0;
	transition: transform 0.5s;
	-webkit-transition: transform 0.5s;
}
#ProductSlider {
	display: none;
	margin-top: -20px;
}
#ProductSlider img {
	width: auto !important;
	filter: none !important;
}
#ProductSlider .item {
	padding: 20px 0;
}
#BlogsSlider img {
	filter: none !important;
	width: auto!important;
}
.breadcrumb {
	padding: 15px;
	font-size: 16px;
	color: #7f7f7f;
	margin: 0;
}
.breadcrumb .active {
	color: #440197;
	margin-left: 5px;
}
.breadcrumb a {
	margin: 0 5px 0 5px;
	color: #7f7f7f;
}
.page-header {
	min-height: 123px;
	background-position: center center;
	background-size: cover;
	padding: 15px;
	text-align: center
}
.page-header h1 {
	font-size: 60px;
	font-weight: 600;
	color: #c30f16;
	margin: 0;
}
.smarket {
	background-image: url(../img/bg/stock-market.jpg);
}
.inner .blogs-posts {
	padding: 50px 0 50px 0;
}
.inner .blogp {
	border-radius: 0;
	border: none;
	box-shadow: 0 0 20px rgb(0 0 0 / 10%);
	margin: 0 0 30px 0;
	display: flex;
	height: 96%;
	flex-direction: column;
}
.blogp figure {
	position: relative;
	margin: 0;
	height: 200px;
	overflow: hidden;
}
.blogp figure img {
	margin: -25% 0 0 0;
}
.blogp figure::after {
	position: absolute;
	left: 20px;
	bottom: 0;
	content: "";
	background: url(../img/icons/uparrow.png) no-repeat;
	width: 30px;
	height: 16px;
}
.inner .bpostcont .readmore {
	font-size: 14px;
	font-weight: 500;
}
#loadMore {
	padding: 0 0 30px 0;
}
.link-btn-small {
	border: 1px solid #4f109d;
	border-radius: 10px;
	padding: 8px 15px;
	font-size: 15px;
	font-weight: 400;
	color: #440197;
	text-align: center;
}
.clints {
	background: #f8f8f8!important;
	padding: 10px 15px;
}
.fix-btn {
	position: fixed;
	right: 5px;
	bottom: 0;
	z-index: 10000000;
	background: #440197;
	border-radius: 10px 10px 0 0;
	padding: 10px 10px;
	font-size: 12px;
	font-weight: 500;
	color: #fff;
	letter-spacing: 1px;
}
.fix-btn:hover {
	color: #fff;
}
.Trade {
	padding: 60px 0;
}
.Trade p strong {
	font-weight: 500;
}
.scan {
	padding: 15px 15px;
	border-right: 1px solid #ccc;
	margin: 0 15px 0 0;
}
.app-btns a {
	display: block;
	margin: 8px 0;
}
.blog-sec .link-btn {
	max-width: 340px;
}
.btn-invest {
	max-width: max-content;
	padding: 15px 30px;
}
.txt-chnage {
	position: relative;
	display: block;
	z-index: 10;
}
.txt-chnage:before {
	position: absolute;
	left: 0;
	top: 15px;
	right: 0;
	margin: auto;
	width: 100%;
	z-index: 1;
	content: 'Open a FREE Trading & Demat account';
	height: 60px;
	text-align: center;
}
.mobileshow {
	display: none;
}
.popup {
	position: fixed;
	top: 15%;
	max-width: 829px;
	z-index: 10;
	left: 0;
	right: 0;
	margin: auto;
}
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	background: #00000070;
	display: none;
}
.desktopmenu ul li.desktopdropdownmenuplus:nth-child(2) .drop {
	display: none;
}
.desktopmenu ul li.desktopdropdownmenuplus:nth-child(2) ul {
	display: none !important;
}
.whyInvest .a-u-shadow-box {
	min-height: 340px;
}
.blog{text-align:left !important;}
.topbar{background:#c31016; border-bottom:1px solid #fff; padding:7px 15px; font-size:12px; font-weight:400; color:#fff; text-align:right;}
.topbar a{color:#fff; display:block; padding:0 10px; }
				.blink-text{animation: blink 1.5s linear infinite;}
				@keyframes blink {
            0% {
                opacity: 0;
            }
  
            50% {
                opacity: 1;
            }
  
            100% {
                opacity: 1;
            }
        }
		.obanners {
    background: url(../img/banner/banner_bg.jpg) no-repeat center center;
		}
		.obanners .hbanner_img {
    position: absolute;
    left: 45%;
    bottom: 0;
    top: 0;
    right: 0;
    text-align: right;
}
.obanners .bcontent h1{font-size:56px; font-weight:700; color:#c21723; line-height:70px; padding:0 0 10px 0;}
.obanners .bcontent h2{font-size: 22px; font-size:500; color: #303030; line-height:36px; padding-bottom:10px;}
.obanners .bcontent .link-btn{font-size: 18px;
width:240px;
height: 60px;

}
#carouselExampleIndicators .carousel-indicators {
    bottom: 45px;
    left: 0;
	margin:0 15px;
	    justify-content: flex-start;
}
.carousel-indicators{}
 @media screen and (max-width:768px) {
.txt-chnage {
	margin: auto;
	max-width: 325px;
}
.txt-chnage:before {
	content: "Open Trading & Demat account";
}
.bcontent .txt-chnage:after {
	position: absolute;
	right: -25px;
	bottom: -45px;
	content: "";
	background: url(../img/icons/free.png) no-repeat;
	width: 129px;
	height: 57px;
}
.fix-btn {
	top: auto;
	left: 0;
	right: 0;
	bottom: 0;
	transform: none;
	margin: auto;
	width: 100%;
	margin: auto;
	border-radius: 0;
	font-size: 16px;
	text-align: center;
}
.bcontent small {
	margin: 5px 0 0 30px;
	max-width: 55%;
	text-align: left;
}
.productsec p br {
	display: none;
}
.productsec .subhead {
	display: none;
}
.productsec h2.mobileshow {
	display: block;
}
.productsec h2.mobileshow br {
	display: block;
}
.popup {
	width: 85%;
}
.main-content {
	padding: 56px 0 0 0;
}
.banner {
	align-items: flex-start!important;
	background-position: 61% top;
	overflow: hidden;
}
.bcontent {
	text-align: center;
	padding: 25px 0 15px 0;
}
.bcontent h1 {
	font-size: 38px;
	line-height: 44px;
}
.bcontent h1 span {
	font-size: 46px;
	display: block;
	font-weight: 700;
}
.hbanner_img {
	position: relative;
	left: auto;
}
.hbanner_img img {
	max-width: 135%;
}
.bdiscalimer {
	padding: 15px;
	text-align: center;
	bottom: 0;
}
.btn-invest {
	margin: auto;
}
.offer {
	padding: 15px;
	font-size: 16px;
}
.offer .container {
	padding: 0;
}
.offer * {
	text-align: center;
	line-height: normal;
}
.offers li {
	padding: 1.5% 0;
	width: 55%;
	display: flex;
	flex-direction: column;
	height: 110px;
}
.offers li img {
	max-width: 45%;
	margin: auto;
}
.offers li:last-child {
	width: 45%;
}
.offers li span {
	font-size: 24px;
	line-height: 24px;
	display: block;
	padding-top: 20%;
}
.subhead {
	font-size: 30px;
	line-height: 36px;
	padding: 15px 0 !important;
}
.subhead br {
	display: none;
}
.products ul {
	display: block !important;
}
.products li {
	padding: 15px;
	width: 90%;
	margin: auto;
}
.sadvantages ul {
	padding: 15px 0 0 0;
}
.sadvantages li {
	padding: 10px 0;
	font-size: 14px;
	line-height: 24px;
}
.sadvantages li strong {
	font-size: 16px;
	padding: 0;
}
.btn-block {
	/*display: block !important;*/
	text-align: center;
	display: none !important;
}
.btn-block p {
	font-size: 24px;
	max-width: 100%;
	line-height: normal;
	padding: 10px 5px;
}
.btn-block a {
	width: 100%;
}
.blogs-posts {
	display: block !important;
}
.blogp {
	margin-bottom: 15px;
}
.bpostcont .heading4 {
	white-space: normal;
}
.products {
	display: none;
}
#ProductSlider {
	display: block;
}
.page-header {
	min-height: inherit;
	padding: 30px 15px;
}
.page-header h1 {
	font-size: 34px;
}
.inner .breadcrumb {
	padding-top: 30px;
}
.inner .blogs-posts {
	padding-top: 20px;
}
.clints .container {
	margin: 15px 0 !important;
	padding: 0 15px!important;
}
.clints .side {
	padding: 0 !important;
}
.inner .bpostcont .heading4 {
	white-space: normal;
}
.Trade {
	padding: 20px 0;
}
.sadvantages .subhead, .Trade .subhead, .blog-sec .subhead {
	display: block;
}
.Trade .col-md-5 {
	display: none;
}
.whyInvest .a-u-shadow-box {
	min-height: 100%;
}
.whyInvest .a-u-shadow-box p br {
	display: none;
}
.scan {
	display: none;
}
.app-btns {
	padding-left: 15px;
	width: 95%;
}
.app-btns a {
	display: inline-block;
	max-width: 45%;
	margin: 0 2% 0 0;
}
.blogp figure {
	height: 100%;
	overflow: hidden;
}
.blogp figure img {
	margin: 0;
	width: 100%;
	height: 100%;
}
.site-footer {
	padding-bottom: 50px !important;
}
.topbar {text-align:left; padding:10px 0;}
.topbar li{display:inline-block; vertical-align:top; width:32%;}
.obanners .bcontent h1 {
    font-size: 44px;
    display: block;
    font-weight: 700;
	line-height:54px;
}
.obanners .bcontent h1 br{display:none;}
.obanners .bcontent h2 br{display:none;}
.obanners .hbanner_img{position:relative; left:0;}
.obanners .bcontent .link-btn {margin:auto;}

#carouselExampleIndicators .carousel-indicators li{width:25px; height:25px; display:none;}
}


.currentofferbg{
	max-width: 100%;
}
.currentofferimg{
	width: 40vw;
	position: absolute;
	top: 50%;
	left: 70%;
	transform: translate(-50%, -50%);
}
.currentoffertext{
	position: absolute;
	top: 50%;
	left: 30%;
	transform: translate(-50%, -50%);
}
.currentoffertext h1{
	font-size: 4vw;
	color: #252525 !important;
}
.currentoffertext p{
	font-size: 1.5vw;
}
.bgco{
	background: #fff;
}
.list-item{
		list-style: none;
		display: -webkit-box;      
	  	display: -moz-box;         
	  	display: -ms-flexbox;      
	  	display: -webkit-flex;     
	  	display: flex; 
	  	margin: 15px 0 0 0;
	  	padding: 0;
		border-right: 1px solid #ddd;
		background:#f5f5f5;
	}

.list-item li{
	width: calc(100% / 8);
	text-align: center;
	padding: 10px;
	padding-top: 15px;
	padding-bottom: 8px;
	border: 1px solid #ddd;
	    border-right: none;
	color: #898989;
	    display: flex;
    flex-direction: column;
	line-height: 40px;
}
.list-item li:hover{cursor:pointer; cursor:hand;}

.list-item li.active{
	background-color: #c31725;
	color: #fff;
}
.list-item img{
	max-width: 100%;

	display: block;
	text-align: center;
	margin: auto;
	
}
.list-item img.activeimg{
	display: none;
}
.list-item li.active img.activeimg{
	display: block;
}
.list-item li.active img.unactiveimg{
	display: none;
}
.list-item-div {
		list-style: none;
	  	padding: 15px 5px;
	  	border: 1px solid #ddd;
	  	border-top: none;
		background:#fff;
}
.innerul{
	width: 100%;
	display: -webkit-box;      
  	display: -moz-box;         
  	display: -ms-flexbox;      
  	display: -webkit-flex;     
  	display: flex; 
  	text-align: center;
  	border: none;
	    align-items: center;

}
.innerul span{display:flex; height:120px; width:100%; max-width: 206px;
    margin: auto;}
.innerul img{
	text-align: center;
	max-width: 100%;
	margin:auto;
}
.list-item-div li{
	border: 1px solid #ddd;
	width: 230px;
	background: #f7f7f7;
	margin: 0 20px;
	border-radius: 5px;
}
.list-item-div button{
	background: #430197;
	color: #fff;
	border: none;
	outline: none;
	text-align: center;
	margin: auto;
	display: inline-block;
	width: 200px;
	border-radius: 2px;
	padding: 10px 0;
	margin-bottom: 10px;
	font-size:18px;
}
.list-item-div button:focus{
	border: none;
	outline: none;
}
.list-item-div button:hover{
	border: none;
	outline: none;
}

.section-advantage .advantage{
 
  	padding: 40px 30px;
  	margin: auto;

}
.section-advantage .advantage p{
	margin-bottom: 0;
}
.section-advantage .advantage img{
	max-width: 100%;
	margin-bottom: 10px;
}
.section-advantage .widadv{
 	width: 45%;
 	height: 100%;
  	margin: auto;
 	-moz-box-shadow:    3px 3px 32px 12px #cccccc6e;
  	-webkit-box-shadow: 3px 3px 32px 12px #cccccc6e;
  	box-shadow:         3px 3px 32px 12px #cccccc6e;
  	margin-bottom: 30px;
  	border-radius: 10px;
	font-size:18px;
	color:#303030;

}
.section-advantage .widadv p b{font-size:20px; font-weight:600; display:block; padding:0 0 7px 0;}
.new-wrap {
    top: 90px;
}
.form-field {
    
    font-size: 14px;
    font-weight: 400;
    padding: 15px 15px;
    margin: 0 0 10px 0;
    width: 100%;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    -webkit-user-select: text;
}
.offerclaim .select-css{font-size:14px; margin-bottom:25px !important; display:none;}
.offerclaim form{max-width:55%; margin:auto;}
.offerclaim .btn-invest{max-width:100%;}
.select-css {
	display: block;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-image: url(../img/desk_down_Arrow.png);
	background-repeat: no-repeat, repeat;
	background-position: 97%;
	background-size: 15px 9px;
	margin: auto;
	font-size:16px;
	font-weight: 400;
	color: #585858;
	width: 100%;
	padding-right: 40px;
	text-align:center;
	margin-bottom:15px;
}
/* Hide arrow icon in IE browsers */
.select-css::-ms-expand {
 display: none;
}
/* Set options to normal weight */
.select-css option {
	font-weight: 500;
	color: #333;
	background: #fff;
}
/* Support for rtl text, explicit support for Arabic and Hebrew */
*[dir="rtl"] .select-css, :root:lang(ar) .select-css, :root:lang(iw) .select-css {
	background-position: left .7em top 50%, 0 0;
	padding: .6em .8em .5em 1.4em;
}
/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
	color: graytext;
	background-image: url(../images/down-arrow.png);
}
.select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #ccc;
}
.mobileoffers{display:none; padding:0 0;}
.deskoffers{display:block;}
.mobileoffers .subhead{font-size:36px; line-height:50px; padding-bottom:0;}
.mobileoffers .owl-nav button{
	width: 22px !important;
    height: 81px !important;
	text-indent:-9999px;
}
.mobileoffers .owl-nav button.owl-prev{left:0; background: url(../img/prevarr.png) no-repeat!important;}
.mobileoffers .owl-nav button.owl-next{right:0; background: url(../img/nextarr.png) no-repeat!important;}
.item img {
    filter: none;
    -webkit-filter: none;
}
.group1{overflow:hidden; display:none; width:100%;}
#Adslider .item{padding:20px;}
#Adslider .item img{width:auto;}
.offername{font-weight:600; display:inline-block;}
@media(max-width: 1024px){
	
	.list-item{
		display: block;
	}
	.list-item li{
		width: 100%;
	}
}
@media(max-width: 768px){
	.offerclaim form {
    max-width: 100%;
	}
	.offerclaim .select-css{display:block;}
	.coffer {overflow-x:hidden;}
	.coffer .new-wrap {
    top: 65px;
}
.coffer p br{display:none;}
	.coffer .subhead{margin-bottom:0;}
	.section-advantage #Adslider .widadv {
    width: 100%;
    margin: 0;
	    box-shadow: 3px 3px 10px 10px #cccccc30;
}
	.coffer .banner_cont{padding-bottom:0 !important;}
	.innerul span {
    height: 145px;
	}
	.list-item-div button{width:90%;}
	.mobileoffers{display:block;}
	.deskoffers{display:none;}
	.innerul{width:100% !important; padding:0;}
	.section-advantage .widadv{
 	width: 100%;
 	margin: 15px;
	}
	.innerul{
		display: block;
		margin: 5px;
		width: 90%;
		margin: auto;
    	padding-top: 15px;
	}
	.innerul li{
		display: block;
		width: 80%;
		margin: auto;
    	margin-bottom: 15px;
	}
	.mobileoffers .select-css{width:90%; margin:auto;}
	.offerclaim .select-css{width:100%;}
}
